<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<dict>
		<key>Font</key>
		<string>Helvetica-Bold</string>
		<key>Size</key>
		<real>48</real>
	</dict>
	<key>Body</key>
	<dict>
		<key>Font</key>
		<string>Helvetica</string>
		<key>Size</key>
		<real>18</real>
	</dict>
</dict>
</plist>
